@import "tailwindcss";

:root {
  --background: #fff8e8;
  --foreground: #173f32;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}